.previews-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.previews-content {
  flex-basis: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.previews-tools-panel {
  flex-basis: 295px;
  min-height: 100px;
}
